<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Document</title>
</head>
<body>

    <style>
        *{
            font-size: large;
        }
        form{
            background-color: bisque;
             padding: 20px;
        }
        input{
            margin: 10px;
            padding: 10px;
            
        }
        div{
            display: flex;
            justify-content: center;
        }
        .success_msg{
            background-color: green;
            color: rgb(255, 255, 255);
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
        }
        .err{
            background-color: red;
            color: rgb(0, 0, 0);
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
        }
    </style>







<div>
    <form action="/register/login" method="POST">
    
    {{#if success_msg}}
    <h1 class="success_msg">{{success_msg}}</h1>
    {{/if}}

    {{#if error}}
    <h1 class="err">{{error}}</h1>
    {{/if}}

       Email : <br><input type="email" name="email" id=""><br>
       password  : <br><input type="password" name="password" id=""><br>
       <input type="submit" value="login"><br>
        <a href="/register/signup">sign up </a>
    </form>
</div>

</body>
</html>